<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Albu Alexandru | Mid DevOps Engineer | alexalbu001@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style.css') }}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Albu Alexandru</h1>
					<h2>DevOps Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:name@yourdomain.com">alexalbu001@gmail.com</a></h3>
						<h3>+40 774 038 518</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Passionate mid level cloud engineer with a strong affinity for AWS, Terraform, CloudFormation, Docker, Kubernetes and Python. Used to managing and architecting long term solutions and architectures for the client's infrastructure. 
								I require VISA Sponsorship for UK opportunities.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<!-- <div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div> -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>AWS</li>
								<li>Terraform</li>
								<li class="last">CloudFormation</li>
							</ul>

							<ul class="talent">
								<li>Docker</li>
								<li>Kubernetes</li>
								<li class="last">Helm</li>
							</ul>

							<ul class="talent">
								<li>Git - Bitbucket / Gitlab / Github</li>
								<li>C/C++ / Python - Data Structures</li>
								<li class="last">Linux / Bash</li>
							</ul>

							<ul class="talent">
								<li>Agile / Kanban</li>
								<li>Grafana / Datadog / Cloudwatch</li>
								<li class="last">AWS SSO / SAML2 / OneLogin</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>AllCloud </h2>
								<h3>DevOps Engineer</h3>
								<h4>2022-2023</h4>
								<p>Streamlined clients' infrastructure by designing and implementing automated remediation solutions leveraging a diverse range of AWS services; reduced incident response time by 50% and increased the SLAs by 35%.
								Administered 20+ multi-account AWS environments, reducing operational costs by 15% through effective resource allocation. Enhanced cybersecurity infrastructure that mitigated 40% of system vulnerabilities.
								Led 2 major migrations to AWS, involving the transfer of 20+ pipelines for a GO application and 8+ jump-host servers, achieving a 20% reduction in operational costs, completing all migrations 2 weeks ahead of schedule and zero downtime.
								Engaged with 6 clients through 50+ weekly meetings over a year, reviewing and updating the status of 30+ tickets each week. Successfully resolved 80% of client issues and initiated planning for 6 major projects.
								</p>
							</div>

							<div class="job">
								<h2>IBM</h2>
								<h3>Senior Interface Designer</h3>
								<h4>2005-2007</h4>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
							</div>

							<div class="job">
								<h2>IBM</h2>
								<h3>Principal and Creative Lead</h3>
								<h4>2004-2005</h4>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Indiana University - Bloomington, Indiana</h2>
							<h3>Dual Major, Economics and English &mdash; <strong>4.0 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Albu Alexandru &mdash; <a href="mailto:name@yourdomain.com">alexalbu001@gmail.com</a> &mdash; +40 774 038 518</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

